a {
	text-decoration: none;
}

.body {
	width: 100%;
	height: auto;
	background-color: #EEEEEF;
}

.mainBody {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	z-index: 2;
}

.top {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 80px;
	background-color: #fff;
}

.area {
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	width: 100%;
}

.main {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: auto;
	background-color: #EEEEEF;
}

.bottom {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	border-top: 3px green solid;
	height: 200px;
	background-color: #EEEEEF;
	margin-top: 20px;
}

.btnRegister {
	background-color: #1da811;
	width: 350px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-size: 18px;
	text-align: center;
	border: 1px solid #1da811;
	background-position: 0 -142px;
	background-repeat: repeat-x;
	border-radius: 2px;
	cursor: pointer;
	padding-bottom: 5px;
	margin: 15px 24px 15px 24px;
}

.topNavigate {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 50px;
	background-color: #3CAC7E;
}

.backgroundBody {
	z-index: 1;
	height: 130px;
	width: 100%;
}

.state {
	width: 100%;
	font-size: 33px;
	color: #636363;
	line-height: 45px;
	margin: 25px auto 0px auto;
	font-family: 隶书;
	font-weight: bold;
}

.houseNum {
	width: 100%;
	font-size: 13px;
	color: #0f8b67;
	margin: 0px auto 0px auto;
}

.address {
	display: block;
	float: left;
	padding: 0 5px;
	line-height: 24px;
	color: #999;
	font-size: 14px;
}

.topTitle {
	width: 1000px;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
}

.bottom div ul li {
	color: #777;
	list-style: none;
	line-height: 25px;
	font-size: 13px;
}

.liHeader {
	font-size: 18px !important;
	font-weight: bold;
}

.detail-btn {
	width: 100px;
	height: 40px;
	overflow: hidden;
	float: right;
	text-align: center;
	line-height: 40px;
	background-position: 0px -138px;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	background-image: url(image/buttonImg.jpg);
	margin: 0px 30px 0px 0px;
}

.detail-btn1 {
	width: 100px;
	height: 40px;
	overflow: hidden;
	float: right;
	text-align: center;
	line-height: 40px;
	background-position: 0px -138px;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	background-image: url(image/contact.jpg);
	margin: 0px 30px 0px 0px;
}