<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Ulezu</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>UrlFilter</filter-name>
    <filter-class>ulezu.com.filter.UrlFilter</filter-class>
    <init-param>
      <param-name>onError</param-name>
      <param-value>home.jsp</param-value>
    </init-param>
    <init-param>
    	<param-name>redirectURL</param-name>
    	<param-value>home.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>noCheckURLList</param-name>
      <param-value>;ulezu/detail.jsp;/home.jsp;/login.jsp;/register.jsp;/404.jsp;/release.jsp</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>UrlFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping> 
  <servlet>
    <description></description>
    <display-name>CUserServlet</display-name>
    <servlet-name>CUserServlet</servlet-name>
    <servlet-class>ulezu.com.controler.servlet.CUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CUserServlet</servlet-name>
    <url-pattern>/userMapping</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CHouseInfoServlet</display-name>
    <servlet-name>CHouseInfoServlet</servlet-name>
    <servlet-class>ulezu.com.controler.servlet.CHouseInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CHouseInfoServlet</servlet-name>
    <url-pattern>/houseInfo.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SystemParamWriteInterface</display-name>
    <servlet-name>SystemParamWriteInterface</servlet-name>
    <servlet-class>ulezu.com.interfaces.SystemParamWriteInterface</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemParamWriteInterface</servlet-name>
    <url-pattern>/SystemParamWriteInterface</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>ulezu.com.controler.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/s.do</url-pattern>
  </servlet-mapping>
</web-app>